	.main {
	    position: relative;
	    height: 100%;
	}
	
	textarea {
	    text-indent: 25px
	}
	
	.searchs {
	    margin-top: 10px;
	}
	
	.el-form-item {
	    margin-top: 10px;
	}
	
	.el-form-item__content {
	    margin-left: 0px !important;
	}
	
	.el-textarea {
	    padding-right: 10px;
	}
	
	h1 {
	    text-align: center;
	}
	
	.new-tree {
	    left: 0px;
	    right: 500px;
	    box-shadow: 0 0 8px #f5f5f5;
	    background: #fff;
	}
	
	.tabbtn {
	    float: left;
	    margin: 10px 10px 0 10px;
	    border: 2px solid;
	    border-radius: 5px;
	    padding: 5px;
	    background-color: deepskyblue;
	    cursor: pointer;
	}
	
	.el-timeline-item__wrapper:hover {
	    background-color: #ccc;
	}
	
	.el-timeline-item__wrapper {
	    padding-left: 0px;
	    margin-left: 28px;
	}
	
	.writed {
	    background-image: url("../images/pen.svg");
	    background-repeat: no-repeat;
	    background-position: right top;
	    background-size: 30px 30px;
	}
	
	.calendar {
	    #line {
	        width: 100%;
	        display: block;
	        padding-top: 20px;
	        height: calc(100% - 45px);
	        overflow-y: hidden;
	        .el-timeline {
	            height: calc(100% - 50px);
	            overflow: scroll;
	        }
	    }
	    #tree {
	        width: 100%;
	        height: calc(100% - 45px);
	        overflow-y: scroll;
	    }
	    .left {
	        float: left;
            width: calc(100% - 77.91vh + 38.95px);
	        height: 100%;
	    }
	    .right {
	        float: right;
	        height: 100%;
	        width: calc(77.91vh - 38.95px);
	        padding-top: 50px;
	        padding-left: 10px;
	        padding-bottom: 10px;
	        padding-right: 10px;
	        >.bottom {
	            height: 100%;
	        }
	        .form {
	            height: 100%;
	            background-image: url("../../../static/img/commonEventBg.png");
	            background-size: 100% 100%;
	            background-repeat: no-repeat;
	            .textareaForm {
	                width: 100%;
	                margin-top: 5px;
	                .info {
	                    float: left;
	                    padding: 9px 15px;
	                    font-size: 12px;
	                    border-radius: 3px;
	                    line-height: 1;
	                    margin: 5px 5px 0 0;
	                }
	                .el-textarea__inner {
	                    padding: 0;
	                    &::-webkit-scrollbar {
	                        width: 0px;
	                    }
	                }
	            }
	            position: relative;
	            .bgImage {
	                height: 10vw;
	                width: 100%%;
	                background-size: 100% 100%;
	                background-repeat: no-repeat;
	            }
	            .eventType {
	                width: 6vw;
	            }
	            .el-input__inner::-webkit-input-placeholder {
	                color: black;
	            }
	        }
	        *:not(.el-pager):not(.el-button ):not(button) {
	            background-color: transparent;
	        }
	        .el-pagination {
	            display: flex;
	            width: calc(100% - 6vw);
	            float: left;
	            padding-top: 10px;
	        }
	        .el-textarea__inner {
	            color: black;
	        }
	        .title {
	            position: absolute;
	            left: 6%;
	            top: 4%;
	            width: 88%;
	            height: 1.77vw;
	            .el-input__inner {
	                height: 1.77vw;
	                color: black;
	            }
	        }
	        .bottomDiv {
	            position: absolute;
	            left: 7%;
	            top: calc(4% + 2.1875vw);
	            bottom: 3%;
	            width: 86%;
	        }
	        .tagdiv {}
	        .bottomFloor {}
	        .box {
	            width: 100%;
	        }
	    }
	    .RL {
	        .el-input {
	            width: 80px;
	            margin-top: 10px;
	            margin-left: 10px;
	        }
	    }
	}