	.main {
		position: relative;
		height: 100%;
	}
	
	textarea {
		text-indent: 25px
	}
	
	.searchs {
		margin-top: 10px;
	}
	
	.el-form-item {
		margin-top: 10px;
	}
	
	.el-form-item__content {
		margin-left: 0px !important;
	}
	
	.el-textarea {
		padding-right: 10px;
	}
	
	h1 {
		text-align: center;
	}
	
	.el-tag+.el-tag {
		margin-left: 10px;
	}
	
	.button-new-tag {
		margin-left: 10px;
		height: 32px;
		line-height: 30px;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.input-new-tag {
		width: 90px;
		margin-left: 10px;
		vertical-align: bottom;
	}
	
	.upload-demo {
		transform: translateY(10px);
	}
	
	.new-tree {
		left: 10px;
		right: 500px;
		box-shadow: 0 0 8px #f5f5f5;
		background: #fff;
	}
	
	.tab {
		width: 100%;
		display: block;
		padding-top: 20px;
		height: calc(100% - 45px);
		overflow-y: scroll;
	}
	
	.tabbtn {
		float: left;
		margin: 10px 10px 0 10px;
		border: 2px solid;
		border-radius: 5px;
		padding: 5px;
		background-color: deepskyblue;
		cursor: pointer;
	}
	
	.el-timeline-item__wrapper:hover {
		background-color: #ccc;
	}
	
	.el-timeline-item__wrapper {
		padding-left: 0px;
		margin-left: 28px;
	}
	
	.writed {
		background-image: url("../images/pen.svg");
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 30px 30px;
	}