		* {
			box-sizing: border-box;
		}
		
		html,body {
			padding: 0;
			margin: 0;
		}
		
		html {
			height: 100%;
		}
		
		body {
			height: 100%;
		}
		
		header {
			height: 10%;
		}
		
		.HolyGrail-body {
			height: 80%;
		}
		
		.HolyGrail-content {
			background-color: #555;
			float: right;
			width: 85%;
			height: 100%;
			display: -webkit-flex;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		
		.HolyGrail-nav {
			background: #756446;
			float: left;
			width: 15%;
			height: 100%;
			overflow: auto;
		}
		
		footer {
			height: 10%;
			background-color: red;
		}
		
		.FWQ {
			padding: 10px;
			width: 100px;
			height: 50px;
			background-color: snow;
			margin: 10px;
			text-align: center;
			box-shadow: 0 0 3px #eee inset;
			color: #d9070a;
			background: -webkit-linear-gradient(#6d1b1d, #2c0907);
			background: -o-linear-gradient(#6d1b1d, #2c0907);
			background: -moz-linear-gradient(#6d1b1d, #2c0907);
			background: linear-gradient(#6d1b1d, #2c0907);
			border: 1px solid #444732;
			border-radius: 1px;
		}
		
		.DaQu {
			padding: 8px;
			width: 90%;
			cursor: pointer;
			text-align: center;
			box-shadow: 0 0 3px #eee inset;
			margin: 10px;
			color: #e1d33f;
			background: -webkit-linear-gradient(#bb111c, #4a080a);
			background: -o-linear-gradient(#bb111c, #4a080a);
			background: -moz-linear-gradient(#bb111c, #4a080a);
			background: linear-gradient(#bb111c, #4a080a);
			border: 1px solid #444732;
			border-radius: 1px;
		}